= render partial: '/users/banner', locals: { user: @artifact.user }
.container.artifact
  .row
    .col-md-12
      %h1= @artifact.name
  .row
    .col-md-12
      %h2
        = link_to @artifact.user.name, short_user_path(@artifact.user)
        = '-'
        = @artifact.created_at.strftime('%B %Y')
.container
  .row
    .col-md-12
      != @artifact.content
  - if can? :edit, @artifact
    .row
      .col-md-12
        = link_to 'Edit', edit_user_artifact_path(current_user, @artifact), class: 'btn btn-default pull-right'

